<h1>Stupid Coaching</h1>
<p>Ask something to the coach</p>
<form action="/answer" method="get">
  <input id="input" type="text" name="ask">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
